/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/* Template for logo only button (height independent). */
/* HTML */

div#wonkasoft-payment-request-button {
	display: grid;
	grid-gap: 8px;
	align-items: center;
	justify-content: center;
	grid-auto-flow: column;
	padding: 8px;
}

div#wonkasoft-payment-request-button button#g-pay-btn {
	background-image: url('../img/gpay.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 120px;
	height: 32px;
	color: #fff;
}

div#wonkasoft-payment-request-button button#apple-pay-btn {
	background-image: url('../img/applepay.svg');
	background-position: center center;
	background-size: contain;
	background-repeat: no-repeat;
	width: 120px;
	height: 32px;
	color: #fff;
}

li.payment_method_wonkasoft_stripe .wonka-payment-method-icon img {
	max-width: 25px;
}